fast-adversarial==0.1
foolbox==2.3.0
ipdb==0.12.3
matplotlib==3.1.2
numpy==1.18.1
pandas==1.0.0
Pillow==7.0.0
randomgen==1.16.0
requests==2.22.0
scipy==1.4.1
seaborn==0.10.0
torch==1.4.0
torchfile==0.1.0
torchvision==0.5.0
pydot==1.4.1
